* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f8fff7;
    color: #222;
    line-height: 1.6;
}


.projeto img {
    width: 300px;
    height: 300px;
    object-fit: cover;      
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}



header {
    background: #ffffff;
    border-bottom: 3px solid #d9f5d9;
    padding: 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-area img {
    width: 100px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #2d7a2d;
}

nav a.active {
    color: #ffffff;
    background: #2d7a2d;
    padding: 5px 10px;
    border-radius: 5px;
}



.hero {
    display: flex;
    gap: 20px;
    margin: 30px 0;
    align-items: center;
}

.hero img {
    width: 50%;
    border-radius: 10px;
}

.hero .btn {
    margin-top: 10px;
}



section {
    margin: 30px 0;
}

h2 {
    margin-bottom: 10px;
    color: #2d7a2d;
}

ul {
    margin-left: 20px;
}

.cta {
    background: #eafbe7;
    padding: 20px;
    border-radius: 10px;
}



form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #d4e7d1;
    padding: 15px;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    color: #2d7a2d;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



.btn {
    display: inline-block;
    background: #2d7a2d;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}



footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background: #d7f3d7;
    font-weight: bold;
}
